<!doctype html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{site.title.add}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
        crossorigin="anonymous">
</head>

<body>
    <div class="container mt-2">
        <form method="post" th:object="${insectForm}" th:action="@{/insectlist/addsave}">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
            <div class="row">
                <div class="col">
                    <div class="alert alert-danger" role="alert" th:each="err : ${#fields.errors('global')}" th:text="${err}"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span th:text="*{insect_no}"></span>
                    <input type="hidden" th:field="*{insect_no}">
                    <input type="hidden" th:field="*{version}">
                </div>
            </div>    
            <div class="row">
                <div class="col">
                    <label for="insecttype" class="form-label" th:text="#{label.kind}"></label>
                    <select class="form-select" th:field="*{insect_id.insect_id}" id="insecttype" aria-label="insecttype">
                        <option th:each="insecttype : ${insectKindTypes}" th:text="${insecttype.species_name}" th:value="${insecttype.insect_id}"></option>
                    </select>
                </div>
                <div class="col">
                    <label for="insect_name" class="form-label" th:text="#{label.name}"></label><span class="badge rounded-pill text-bg-danger">必須</span>
                    <input th:field="*{insect_name}" type="text" class="form-control" id="insect_name" th:errorClass="is-invalid" maxlength="30">
                    <div th:errors="*{insect_name}" class="invalid-feedback"></div>
                </div>          
                <div class="col">
                    <label for="insect_area" class="form-label" th:text="#{label.area}"></label>
                    <input th:field="*{insect_area}" type="text" class="form-control" id="insect_area" th:errorClass="is-invalid" maxlength="30">
                    <div th:errors="*{insect_area}" class="invalid-feedback"></div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="insect_family" class="form-label" th:text="#{label.family}"></label>
                    <input th:field="*{insect_family}" type="text" class="form-control" id="insect_family" th:errorClass="is-invalid" maxlength="15">
                    <div th:errors="*{insect_family}" class="invalid-feedback"></div>
                </div>
                <div class="col">
                    <label for="insect_stock" class="form-label" th:text="#{label.stock}"></label>
                    <input th:field="*{insect_stock}" type="text" class="form-control" id="insect_stock" th:errorClass="is-invalid" maxlength="20">
                    <div th:errors="*{insect_stock}" class="invalid-feedback"></div>
                </div>
                <div class="col">
                    <label for="set_day" class="form-label" th:text="#{label.setday}"></label>
                    <input th:field="*{set_day}" type="date" class="form-control" id="set_day">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary" th:formaction="@{/insectlist/add}" th:text="#{btn.register}"></button>
                </div>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous">
    </script>
</body>

</html>